<br/>

<h4>Who are we ?</h4>

<div>Gowipala team is product delivery team and we garantee our product is 99% organic. </div>
<br/>
<h4>What do we do?</h4>

<div>We collect Banana from houses and not from plantations. We do not have plantations. Because of we can not find good products,
  in some cases we will call you and inform about delays. We collect products about 100KM - 150KM away from colombo and you
  will have access to see video for your products. When you buy minimum of 1kg we will provide free delivery. Usually we
  deliver your order within two weeks time, you can select if you want recursive order and we will deliver each two weeks.
  We do not use any chemical for banana to make it eatable. We provide you money back guarantee for our products.</div>
<br/>
<h4>Where are we located ?</h4>

<div>We currently handle queries online and over the phone. Our store is located at Kahathuduwa. Once we collected banana we store
  about several days to help fruits natural ripening process.</div>

<h2>Can the delivery gets delayed? </h2>

<div>Yes, Since we do not use chemical for frouits ripening process, it can vary from 2 - 5 days.</div>