<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-faded justify-content-between flex-nowrap flex-row">
    <div class="container">
        <a href="/" class="navbar-brand float-left">Store</a>
        <ul class="nav navbar-nav flex-row float-right">
            <li class="nav-item"><a class="nav-link pr-3" href="">Order</a></li>
            <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
        </ul>
    </div>
</nav>

  
<div class="container">
    
<app2></app2>


  </div> 



