<div id="accordion" [hidden]="submitted">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link CartTitle" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Your order details
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <ul class="cartList" *ngFor="let product of productCartList">
                <li><img src="{{product.img}}" width="50px"></li> 
                <li>{{product.title}}</li> 
                <li>{{product.num}}{{product.qty}}</li>
              </ul>
        </div>
      </div>
      <br />
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link CartTitle" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Fill your details
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
         
<div [hidden]="submitted" style="clear: both">


    <form (ngSubmit)="onSubmit()" #cartForm="ngForm">
      
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Name</label>        
          
          <input type="text" class="form-control" id="name"
          required
          [(ngModel)]="model.name" name="name"
          #name="ngModel" placeholder="Your name">
          <div [hidden]="name.valid || name.pristine"
                class="alert alert-danger">
            Name is required
          </div>
   
               
        </div>
        <div class="form-group col-md-6">
          <label for="email">E-mail address</label>
          <input type="text" class="form-control" id="email"
          required
          [(ngModel)]="model.email" name="email"
          #email="ngModel" placeholder="Your email">
          <div [hidden]="email.valid || email.pristine"
                class="alert alert-danger">
            E-mail is required
          </div>
  
          
        </div>
      </div>
  
      <div class="form-row">
              <div class="form-group col-md-6">
                <label for="mobile">Mobile number</label>
                 
                <input type="text" class="form-control" id="mobile"
                required
                [(ngModel)]="model.mobile" name="mobile"
                #mobile="ngModel" placeholder="Mobile number">
                <div [hidden]="mobile.valid || mobile.pristine"
                      class="alert alert-danger">
                      Mobile number is required
                </div>
  
  
              </div>
              <div class="form-group col-md-6">
                <label for="time">Time to contact (Day / Time)</label>
                <input type="text" class="form-control" id="time" name="time"  [(ngModel)]="model.time" #time="ngModel" 
                 placeholder="What is the best time to call you">
              </div>
            </div>
  
      <div class="form-group">
        <label for="address">Address</label>
        
        <input type="text" class="form-control" id="address"
        required
        [(ngModel)]="model.address" #address="ngModel" name="address"
         placeholder="Your address">
        <div [hidden]="address.valid || address.pristine"
              class="alert alert-danger">
              Address number is required
        </div>
  
  
      </div>
  
      <div class="form-group">
              <label for="map">Google Map Address (Optional)</label>
              <input type="text" class="form-control" id="map" name="map" placeholder="Google map location"
              [(ngModel)]="model.map" #map="ngModel" >
      </div>

      <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="getMapClick($event)" [zoom]="13">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
  <br>
  <br>
      <div class="form-group">
              <label for="km">Distance from Rajagiriya to your Address (Optional) <br>
              </label>
              <input type="text" class="form-control" id="km" name="km" placeholder="KM "
              [(ngModel)]="model.km" #km="ngModel">
      </div>
      <br>  
      <button type="submit" class="btn btn-success" [disabled]="!cartForm.form.valid">Send the order now</button>
  
      <br />
       
    </form>
  
  </div>
  
  
  
  
  <style>
    .no-style .ng-valid {
    border-left: 1px  solid #CCC
  }
  
    .no-style .ng-invalid {
    border-left: 1px  solid #CCC
  }
  </style>
        </div>
      </div>
    </div>
    
  </div> 


  

    
  <br><br><br><br>

  <div [hidden]="!submitted">
      
      Thank you. We will call you for within two business days. 
  
    </div>