<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-faded justify-content-between flex-nowrap flex-row" style="clear: both;">
    
  
    <div class="container">
      <a href="/" class="navbar-brand float-left"><img src="assets/images/logo.png" width="150px"></a>
  
     
      <ul class="nav navbar-nav flex-row float-right MenuList">
                
          <li class="nav-item"><button type="button" class="btn btn-outline-warning">Products</button></li>
          <li class="nav-item"><button type="button" class="btn btn-outline-warning">Contact</button></li>
          <li class="nav-item"><button type="button" class="btn btn-outline-warning">Cart</button></li>
          <li style="
          position: absolute;
          clear: both;
          margin-top: -60px;
      ">
        <span class="text-warning" style="font-size: 24px;"><img src="assets/images/phone.png" width="50px"> 077 19 99 344</span>
          </li>
           
      </ul>
    </div>
  </nav>

<div class="container">
  <router-outlet></router-outlet>

</div>
  
  <footer class="mainfooter" role="contentinfo">
     
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p class="text-xs-center">&copy; Copyright 2017 - Gowipala.  All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  






 
 